{% extends "index2.html" %}
{% block body %}
	<h2>Game Bet</h2>
    <dl>
      <dt>Random Game:
      <dd><h3>{{game[1]}} : @{{game[0]}} on {{game[2]}}</h3>
    </dl>
    <form action="{{ url_for('game_bet') }}" method=post>
      <dl>
        <dt>Home Bet:
        <dd>Home<input name=bet type=radio id='Home' value='Home'>
        <dt>Away Bet:
        <dd>Away<input name=bet type=radio id='Away' value='Away'>
        <dd><input type=submit value=Bet>
      </dl>
    </form>
  {% if betComplete == True %}
  <h2>Bet Result</h2>
    {% if win == True %}
    <h2>YOU WON</h2>
    <div>
      <ul>
        <li>Home Score: {{game[3]}}</li>
        <li>Away Score: {{game[4]}}</li>
      <ul/>
    </div>
    {% else %}
    <h2>YOU LOST</h2>
    <div>
      <ul>
        <li>Home Score: {{game[3]}}</li>
        <li>Away Score: {{game[4]}}</li>
      <ul/>
    </div>
    {% endif %}
  {%endif %}
{% endblock %}





